
#page
{
	border:10px solid #6D7B8D;
	width:750px;
	margin:auto;
}
#header
{position:relative;
  height:100px;
	background:#eee;
}
#header h1
{   
padding : 30px;
font : bold 2.5em verdana,sans-serif;
letter-spacing : 5px;
color : #435A6C;
}
#bar
{
	position:relative;
	height:60px;
	background:#A0CFEC;
}

.menu
{
	font-family:"lucida sans",verdana,sans-serif;
	font-size:20px;
	color:#252F33;
	padding:20px;
}
.dropbtn {
	font-size:20px;
	font-family:"lucida sans",verdana,sans-serif;
    background-color:transparent;
    border: none;
    cursor: pointer;	
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color:transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: red;
	 text-decoration: none;
    padding: 12px 16px;
    display: block;
}
.dropdown-content a:hover {color:00FFFF}
.dropdown:hover .dropdown-content {
    display: block;
	z-index:1;
}
#content
{	
	position:relative;
	height:510px;
	background:#BCC6CC;
	
}
#matter
{
	font: 50% "lucida sans", sans-serif;
}



