body {
font: 73% "lucida sans", sans-serif;
}
.clear {
clear : both;
height : 20px;
}
#container {
width: 750px;
margin: auto;
color: #565;
background: #eee;
}
#banner h1 {
font : bold 1.5em verdana,sans-serif;
letter-spacing : 5px;
color : #435A6C;
}
#content {line-height: 1.8em;
padding: 10px;
margin-left: 170px;
margin-right: 170px;
margin-top : 0;
}

#content h1 {
padding : 5px;
letter-spacing : 5px;
font : bold 1.2em "lucida sans",verdana,sans-serif;
color : blue;
}
#sidebar {
float: left;
width: 150px;
margin: 0 0 0 0;
padding: 5px;
}

.menu 
{
width: 150px;
padding: 10px 0 0 0;
}
.menu ul 
{
margin: 0;
padding: 0;
list-style-type: none;
}
.menu li {
margin: 0 0 .1em 0;
}
.menu a {
border-left : 5px solid #7BA1B8;
display: block;
font-size: 12px;
color: #435A6C;
background:#ddd;
width: 120px;
padding : 1em .5em;
text-decoration: none;
}
.menu a:hover 
{
background:url(hover.jpg);
}
#sidebar2 
{line-height: 1.8em;
float: right;
width: 150px;
margin: 0 0 0 0;
padding: 5px;
}
h1 {
margin : 10px 0 0 5px;
font : bold 1.2em "lucida sans", verdana,arial, sans-serif;
letter-spacing : 5px;
text-transform: uppercase;
color : #435A6C;
}

h2 {
padding : 0;
font : bold 1em "lucida sans", verdana, arial,sans-serif;
color : #435A6C;
}

h3 {
margin : 0;
font : normal 1.4em "lucida sans", verdana, arial,sans-serif;
color : #7AB623;
}
a {
color: #369;
font-weight: bold;
text-decoration: underline;
}
a:hover {
text-decoration: none;
color: #5D775A;
}
div.scroll {
overflow: auto;
height: 7em;
width: 120px;
padding: .5em;
color: #000;
background:#f7f7f7;
border: 0px solid #999;
margin: 20px 0 15px 0;
}
.news {
font-size: 10px;
color: #333;
}
blockquote {
font-weight : bold;
font-style : italic;
color : #b29b35;
}
